div {
  border: 1px grey dotted;
}
div#ajaxDebug {
  position: fixed;
  width: 30em;
  max-width: 50%;
  right: 1em;
  top: 1em;
  height: 15em;
  padding: 0.5ex;
  font-weight: bold;
  background-color: #cccccc;
  border: 4px outset #888880;
}
div#ajaxDebug a.X {
  position: absolute;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  right: 5px;
  top: 0;
  padding: 0ex 0.5ex 0.3ex 0.5ex;
  border: solid #444444 1px;
}
div#ajaxLog div {
  position: relative;
  overflow: auto;
  font-weight: normal;
  background-color: #ddddd2;
  border: 2px solid black;

}
div#ajaxTX { height: 3em; }
div#ajaxRX { height: 10em; }

div.pluginGUI {
  display: table;
  width: 35.5em;
  max-width: 35.5em;
  border: 2px solid black;
}
div.pluginGUI h1 {
  display: table-row;
  font-size: 120%;
}
div.pluginGUI p {
  margin: 0;
}

div.ports { display: table }
div.ports div { display: table-row }
div.ports div div { 
  display: table-cell; 
  padding: 0 1ex 0 0;
}

form { 
  display: row-group; 
  border-collapse: separate;
  border-spacing: 1ex;
  border: 1px solid;
}
div.formItem { 
  display: table-row;
}
label { 
  display: table-cell; 
  width: 12em;
}
div.input {
  display: table-cell;
  margin: 0;
  padding: 0;
}
div.slider {
  display: inline-block;
  width: 11em;
}
input.value, div.range {
  display: inline-block;
  width: 6em;
  max-width: 6em;
  text-align: right;
}
div.range {
  font-size: 60%;
  font-weight: bold;
}
div.unit {
  display: table-cell;
  width: 4em;
}
div.comment {
  display: table-cell;
  font-style: italic;
  width: auto;
}
